{{#> layouts/master title="Home"}}

  {{#*inline "layouts/main"}}

    <article class="c-long-form-copy">
      <h1 class="c-heading c-heading--display">{{../title}}</h1>
      <p>{{description}}</p>
      <p>a11y Training is broken down into the following three sections:</p>
      <ul>
        {{#each siteSection}}
          <li>
            <a href="/{{url}}">{{title}}</a>
            <p>{{description}}</p>
          </li>
        {{/each}}
      </ul>
    </article>

    {{/inline}}

    {{/layouts/master}}
